<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <!-- bootstrap lib -->
    <link rel="stylesheet" href="/libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-3 mt-3">To Do List</h1>

      <form method="POST">
        <!-- task input -->
        <div class="mb-3">
          <label for="desc-inp" class="form-label">DESCRIPTION</label>
          <input
            type="text"
            name="description"
            id="desc-inp"
            class="form-control"
            placeholder="what do you need to do?"
          />
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <!-- category choosing dropdown -->
              <label for="category" class="form-label">CATEGORY</label>
              <select class="form-select" name="category" id="category">
                <option value="" selected>Select a category</option>
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>

          <div class="col">
            <div class="mb-3">
              <!-- due dates input -->
              <label for="dates" class="form-label">DUE DATE</label>
              <input type="date" name="date" id="dates" class="form-control" />
            </div>
          </div>
        </div>

        <!-- add and delete buttons -->
        <button type="submit" formaction="/create-task" class="btn btn-primary">
          ADD TASK
        </button>
      </form>

      <hr />

      <h3 class="text-center mb-3 mt-3">Tasks</h3>

      <!-- task list -->
      <form method="POST">
        <% for (let i of task) { %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%= i.description %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= i.date %></h6>
            <h5>
              <span class="badge text-bg-secondary"> <%= i.category %> </span>
            </h5>
            <p class="card-text"></p>
            <button
              class="btn btn-success"
              formaction="/delete-task/<%= i._id %>"
            >
              Mark Done
            </button>
          </div>
        </div>
        <% } %>
      </form>
    </div>

    <!-- bootstrap lib -->
    <script src="/libs/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
