@font-face{
    font-family: roboto;
    src: url(/fonts/robotoMono.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    /* text-align: center; */
    font-family: roboto;
}

#heading{
    text-align: center;
    padding: 20px;
}

#container{
    position: relative;
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 0 10px 20px 10px;
}

#input-container{
    text-align: center;
}

.inputs label{
    position: absolute;
    padding: 10px 0 0 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
}

.inputs input, select{
    padding: 30px 0px 20px 20px;
    font-size: 1rem;
}

.inputs input:focus, select:focus{
    background-color: #dfe6e9;
    transition: 0.5s ease-in-out;
}

#description input{
    width: 95%;
}

#category{
    width: 47%;
    padding: 33px 0px 20px 25px;
}

#dates{
    width: 47%;
    padding: 30px 0px 20px 20px;
}

#btns{
    text-align: center;
    margin: 20px 0 10px 0;
}

#btns button{
    padding: 15px 20px 15px 20px;
    font-size: 1.2rem;
}

#add-btn{
    background-color: #2d3436;
    color: #fff;
    border: none;
    transition: 0.5s ease-in-out;
}

#add-btn:hover{
    cursor: pointer;
    background-color: #4b4b4b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#del-btn{
    background-color: #c0392b;
    color: #fff;
    border: none;
    transition: 0.5s ease-in-out;
}

#del-btn:hover{
    cursor: pointer;
    background-color: #e84118;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}


#tasks ul{
    margin: 30px 0px 10px 20px;
    list-style: none;
    width: 95%;
}

#task{
    margin: 20px 20px;
    border-top: 1px solid gray;
    position: relative;
    padding-top: 10px;
}

#task p{
    margin-left: 23px;
    margin-top: 7px;
    color: gray;
}

#task-tag{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #3498db;
    padding: 10px;
    color: #fff;
    width: 80px;
    text-align: center;
}